<?xml version="1.0" encoding="utf-8"?>
<!--
  Web.config Transform for Development/Debug

  This transform disables performance counters when running in Debug mode.

  To use:
  1. Copy this file to your project root as "web.Debug.config"
  2. When you build in Debug configuration, counters will be disabled
  3. When you build in Release, counters will be enabled

  Alternative names:
  - web.Debug.config (for Debug builds)
  - web.Development.config (if using custom config)
-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--
    This transform changes enabled="true" to enabled="false"
    in Optimizely.PerformanceCounters.config when building in Debug mode
  -->

  <!-- Note: Since we use configSource, we can't transform the external file directly.
       Instead, we override the entire section to use a different config file,
       or we simply replace the external config file with a disabled version. -->

  <!-- Option 1: Replace with inline disabled configuration -->
  <optimizely>
    <performanceCounters enabled="false" xdt:Transform="Replace">
      <counters>
        <!-- Empty - no counters loaded in development -->
      </counters>
    </performanceCounters>
  </optimizely>

</configuration>

<!--
  ALTERNATIVE: Create Optimizely.PerformanceCounters.Debug.config

  Instead of this transform, you could:
  1. Create "Optimizely.PerformanceCounters.Debug.config" with enabled="false"
  2. Use this transform to change the configSource:

  <optimizely>
    <performanceCounters configSource="Optimizely.PerformanceCounters.Debug.config"
                         xdt:Transform="SetAttributes" />
  </optimizely>
-->
